<section>
	<h1>{{ titre|upper }}</h1>
	<form action="admin?entite=utilisateur&action=m&utilisateur_id={{ utilisateur.utilisateur_id }}" method="post">

		<label>Nom</label>
		<input type="text" name="utilisateur_nom" value="{{ utilisateur.utilisateur_nom }}">
		<span>&nbsp;{{ erreurs.utilisateur_nom }}</span>

		<label>Prénom</label>
		<input type="text" name="utilisateur_prenom" value="{{ utilisateur.utilisateur_prenom }}">
		<span>&nbsp;{{ erreurs.utilisateur_prenom }}</span>

		<label>Courriel</label>
		<input type="text" name="utilisateur_courriel" value="{{ utilisateur.utilisateur_courriel }}">
		<span>&nbsp;{{ erreurs.utilisateur_courriel }}</span>

		<label>Profil</label>
		<select name="utilisateur_profil">
			<option value="client" {% if(utilisateur.utilisateur_profil is same as "client") %} selected {% endif %}>Client</option>
			<option value="correcteur" {% if(utilisateur.utilisateur_profil is same as "correcteur") %} selected {% endif %}>Correcteur</option>
			<option value="editeur" {% if(utilisateur.utilisateur_profil is same as "editeur") %} selected {% endif %}>Editeur</option>
			<option value="administrateur" {% if(utilisateur.utilisateur_profil is same as "administrateur") %} selected {% endif %}>Administrateur</option>
		</select>
		<span>&nbsp;{{ erreurs.utilisateur_profil }}</span>

		<input type="hidden" name="utilisateur_id" value="{{ utilisateur.utilisateur_id }}">

		<input type="submit" value="Envoyer">

	</form>
</section>
